<div class="about-section">
  <h1>About me</h1>
    <p>
      I'm Evelyn Avilés, a Full Stack Web Developer with a passion for building clean, fast, and responsive web applications.
      I recently graduated from Le Wagon Web Development Bootcamp, and I specialize in Ruby on Rails, JavaScript, and UI design using Bootstrap.
    </p>
</div>
